/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.team_loader {
  background-color:white;
  border:1px solid black;
  display:none;
  margin-top: 5%;
  margin-left: 31%;
  position:fixed;
  text-align:left;
  width: auto;
  z-index:50;
  padding: 25px 25px 20px;
}

.bid_loader {
  background-color:white;
  border:1px solid black;
  display:none;
  position:fixed;
  top: 10%;
  left: 20%;
  text-align:left;
  width: auto;
  z-index:50;
  padding: 25px 25px 25px;
}

.ask_loader {
  background-color:white;
  border:1px solid black;
  display:none;
  position:fixed;
  top: 10%;
  right: 20%;
  text-align:left;
  width: auto;
  z-index:50;
  padding: 25px 25px 25px;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.window_labels {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

// ------------------------

.flash_notice {
  color: red;
}

form {
overflow: hidden;
}

form.edit_ask {
  margin-top: 5%;
}

.header {
  height: 85px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.trade_box {
  height: 300px;
  border: solid;
  border-color: yellow;
}

.stock_ticker {
  bottom: 0%;
  left: -200%;
  position: fixed;
  height: 55px;
  width: 400%;
  z-index: 0;
}

.scores {
  height: auto;
  border: solid;
  border-color: blue;
}

ul {
    list-style-type: none;
}

th {
  text-align: center;
}

th

.table {
  height: 75%;
  z-index: 5;
}
tr {
  z-index: 5;
}


tbody .dashboard_tr {
  display:none;
}

td {
  text-align: center;
}

.team_loader, .bid_loader, .ask_loader span {
  cursor: pointer;
}

.stocks_rising {
  background-color:white;
  display: none;
  bottom: 5%;
  left: 0px;
  position: relative;
  text-align:left;
  width: 10px;
  z-index:55;
  padding: 5px;
}

.stocks_droppping {
  white-space:nowrap;
  background-color:white;
  display: none;
  bottom: 5%;
  left: -1000 px;
  position: relative;
  text-align:center;
  width: 220px;
  z-index:0;
  padding: 5px;
}

.outter_bid_rolodex {
  width: 35%;
  height: 20%;
  position: fixed;
  bottom: 15%;
  left: 10%;
  background-color: white;
  z-index: 75;
}
.bid_rolodex {
  position: relative;
  left: 0%;
  top: 0%;
  height: auto;
  z-index: 75;
}

.bid_rolodex_div {
  text-align: center;
  position: fixed;
  left: 10%;
  bottom: 15%;
  z-index: 75;
}

.outter_bid_rolodex button{
    position: relative;
    left: 0%;
    bottom: 70%;
}

.outter_ask_rolodex button{
    position: relative;
    float: right;
    bottom: 25%;

}

.outter_ask_rolodex {
  width: 35%;
  position: fixed;
  bottom: 15%;
  right: 10%;
  height: 20%;
  background-color: white;
  z-index: 95;
}
.ask_rolodex {
  position: relative;
  right: 0%;
  top: 0%;
  height: auto;
  z-index: 75;
}

.ask_rolodex_div {
  text-align: center;
  position: fixed;
  right: 10%;
  bottom: 25%;
  z-index: 75;
}

.outter_trade_rolodex button{
    position: relative;
    z-index: 75;
}

.outter_trade_rolodex {
  text-align: center;
  margin-left: 29%;
  margin-right: 29%;
  width: 30%;
  position: fixed;
  bottom: 15%;
  height: 20%;
  z-index: 98;
  background-color: white;
}
.trade_rolodex {
  position: relative;
  top: 0%;
  height: auto;
  z-index: 75;
}

.trade_rolodex_div {
  text-align: center;
  position: relative;
}
